@import url(proto.css);


/* ******************* 공통영역 선언시작 **************** */

/* *********** btn *********** */
.btn {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font: bold 1.5rem/39px '맑은 고딕', sans-serif;
  color: #fff;
  background-color: #9f5ba6;
  border-radius: 30px;
}

.btn:hover {
  background-color: #952fa0;
}


/* *********** Login Area Start *********** */
#login{
  padding: 57px 33px;
}
/* top-box */
#login .top-box{
  width: 100%;
  height: 121px;
  margin-bottom: 57px;
  color: #2d2d2d;
}
#login .top-box i{
  font-size: 3rem;
  margin-bottom: 63px;
}
#login .top-box h2{
  font: bold 2rem/27px '맑은 고딕', sans-serif;
}

/* form */
#login form{
  width: 100%;
  height: 174px;
  margin-bottom: 10px;
}
#login form .form-group{
  width: 100%;
  height: 20px;
  margin-bottom: 30px;
}
#login form .form-group label{
  display: none;
}
#login form .form-group input{
  width: 100%;
  border: 0;
  border-bottom: 1px solid #b1b1b1;
  padding: 9px 0;
  font: 400 1.3rem/17px '맑은 고딕', sans-serif;
  color: #7b7979;
}
#login form p{
  width: 100%;
  height: 39px;
  margin-top: 52px;
}

/* bottom-box */
#login .bottom-box{
  width: 100%;
  height: 173px;
  text-align: center;
}

#login .bottom-box a{
  font: 400 1.2rem/16px '맑은 고딕', sans-serif;
  color: #b1b1b1;
  /* display: inline-lock; */
  margin-right: 46px;
}
#login .bottom-box a:nth-child(1){
  padding-right: 46px;
  border-right: 1px solid #b1b1b1;
}
#login .bottom-box a:nth-child(2){
  margin-right: 0;
}
#login .bottom-box a:hover{
  color: #666;
}

/* fast-login */
#login .bottom-box .fast-login{
  width: 100%;
  height: 79px;
  margin: 78px auto 0;
}
#login .bottom-box .fast-login h3{
  font: bold 1.3rem/17px '맑은 고딕', sans-serif;
  color: #2d2d2d;
  margin-bottom: 12px;
}
#login .bottom-box .fast-login a{
  width: 52px;
  height: 52px;
  margin-right: 24px;
}
#login .bottom-box .fast-login a:nth-child(n+5) { margin-right:0; }
#login .bottom-box .fast-login a img:last-child{
  margin-right: 0;
}